<div class="row">
  <div class="col-xs-12">
    <h2 sr-slide-toggle="#priorityTable">Priority Table</h2>
    <div id="priorityTable" class="sr-slideable">
      <sr-priority-table></sr-priority-table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <h2 sr-slide-toggle="#dataForm">Personal Data</h2>
    <div id="dataForm" class="sr-slideable">
      <sr-personal-data-form></sr-personal-data-form>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <h2 sr-slide-toggle="#attributesForm">Attributes</h2>
    <div id="attributesForm" class="sr-slideable">
      <sr-attributes-form></sr-attributes-form>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <h2 sr-slide-toggle="#metatypeForm">Metatype</h2>
    <div id="metatypeForm" class="sr-slideable">
      <sr-metatype-form></sr-metatype-form>
    </div>
  </div>
</div> <!-- closes row -->

<div class="row">
  <div class="col-xs-12 col-md-4">
    <h2 sr-slide-toggle="#itemsForm">Items</h2>
    <div id="itemsForm" class="sr-slideable">
      <sr-items-form></sr-items-form>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <h2 sr-slide-toggle="#knowledgeForm">Knowledge</h2>
    <div id="knowledgeForm" class="sr-slideable">
      <sr-knowledge-form></sr-knowledge-form>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <h2 sr-slide-toggle="#qualitiesForm">Qualities</h2>
    <div id="qualitiesForm" class="sr-slideable">
      <sr-qualities-form></sr-qualities-form>
    </div>
  </div>
</div> <!-- close row -->

<div class="row">
  <div class="col-xs-12 col-md-4">
    <h2 sr-slide-toggle="#skillsForm">Skills</h2>
    <div id="skillsForm" class="sr-slideable">
      <sr-skills-form></sr-skills-form>
    </div>
  </div>
</div>
