<div class='container'>
  <div class='col-xs-3'>
    <ul>
      <li>Alias: {{vm.personalData.alias}}</li>
      <li>Age: {{vm.personalData.age}}</li>
      <li>Sex: {{vm.personalData.sex}}</li>
      <li>Height: {{vm.personalData.height}}</li>
      <li>Weight: {{vm.personalData.weight}}</li>
      <li>Composure: {{vm.personalData.composure}}</li>
      <li>Judge Intentions: {{vm.personalData.judgeIntentions}}</li>
    </ul>
  </div>
  <div class='col-xs-3'>
    <ul>
      <li>Ethinicity: {{vm.personalData.ethnicity}}</li>
      <li>Street Cred: {{vm.personalData.streetCred}}</li>
      <li>Public Awareness: {{vm.personalData.publicAwareness}}</li>
      <li>Notoriety: {{vm.personalData.notoriety}}</li>
      <li>Metatype: {{vm.personalData.metatype}}</li>
      <li>Memory: {{vm.personalData.memory}}</li>
      <li>Walk Speed: {{vm.personalData.walkSpeed}}</li>
      <li>Run Speed: {{vm.personalData.runSpeed}}</li>
    </ul>
  </div>
</div>
