<!-- FIXME: should display cost if editable -->
<div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Weapon</th>
        <th>Skill</th>
        <th>Accuracy</th>
        <th>Damage</th>
        <th>AP</th>
        <th>Mode</th>
        <th>RC</th>
        <th>Ammo</th>
        <th>Conceal</th>
        <th>Quantity</th>
        <th ng-if="vm.editable">Cost</th>
        <th ng-if="vm.editable"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="weapon in vm.weapons">
        <td>{{weapon.name}}</td>
        <td>{{weapon.skill}}</td>
        <td>{{weapon.accuracy}}</td>
        <td>{{weapon.damage}}</td>
        <td>{{weapon.ap}}</td>
        <td>{{weapon.mode}}</td>
        <td>{{weapon.rc}}</td>
        <td>{{weapon.ammo}}</td>
        <td>{{weapon.conceal}}</td>
        <td>{{weapon.quantity}}</td>
        <td ng-if="vm.editable">{{weapon.cost}}</td>
        <td ng-if="vm.editable"><span ng-click="vm.deleteWeapon(weapon)" class="glyphicon glyphicon-remove"></span></td>
      </tr>
    </tbody>
  </table>
</div>
