<form>
  <div>
    <label for="metatype">Metatype</label>
    <sr-metatype-form id="metatype"></sr-metatype-form>
  </div>
  <div>
    <label for="character-alias">Alias</label>
    <input type="text" class="form-control" id="character-alias"
      placeholder="Big E" ng-model="vm.personalData.alias">
  </div>

  <div>
    <label for="character-ethnicity">Ethnicity</label>
    <input type="text" class="form-control" id="character-ethnicity"
      ng-model="vm.personalData.ethnicity">
  </div>

  <div>
    <label for="character-sex">Sex</label>
    <input type="text" class="form-control" id="character-sex"
      ng-model="vm.personalData.sex">
  </div>

  <div>
    <label for="character-age">Age</label>
    <input type="number" id="character-age" ng-model="vm.personalData.age"
      ng-init="vm.personalData.age=0" class="number-input">
    <div sr-incrementer="vm.personalData.age"></div>
  </div>

  <div>
    <label for="character-height">Height</label>
    <input type="number" class="number-input" id="character-height"
      ng-model="vm.personalData.height" ng-init="vm.personalData.height=0">
    <div sr-incrementer="vm.personalData.height"></div>
  </div>

  <div>
    <label for="character-weight">Weight</label>
    <input type="number" class="number-input" id="character-weight"
      ng-model="vm.personalData.weight" ng-init="vm.personalData.weight=0">
    <div sr-incrementer="vm.personalData.weight"></div>
  </div>

  <div>
    <label for="character-streetcred">Street Cred</label>
    <input type="number" class="number-input" id="character-streetcred"
      ng-model="vm.personalData.streetCred" ng-init="vm.personalData.streetCred=0">
    <div sr-incrementer="vm.personalData.streetCred"></div>
  </div>

  <div>
    <label for="character-public-awareness">Public Awareness</label>
    <input type="number" class="number-input" id="character-public-awareness"
      ng-model="vm.personalData.publicAwareness" ng-init="vm.personalData.publicAwareness=0">
    <div sr-incrementer="vm.personalData.publicAwareness"></div>
  </div>

</form>
