<form>
  
  <div>
    <label for="character-alias">Alias</label>
    <input type="text" class="form-control" id="character-alias" placeholder="Big E" ng-model="character.personalData.alias">
  </div>

  <div>
    <label for="character-age">Age</label>
    <input type="number" class="form-control" id="character-age" ng-model="character.personalData.age">
  </div>

  <div>
    <label for="character-ethnicity">Ethnicity</label>
    <input type="text" class="form-control" id="character-ethnicity" ng-model="character.personalData.ethnicity">
  </div>

  <div>
    <label for="character-sex">Sex</label>
    <input type="text" class="form-control" id="character-sex" ng-model="character.personalData.sex">
  </div>

  <div>
    <label for="character-height">Height</label>
    <input type="number" class="form-control" id="character-height" ng-model="character.personalData.height">
  </div>

  <div>
    <label for="character-weight">Weight</label>
    <input type="number" class="form-control" id="character-weight" ng-model="character.personalData.weight">
  </div>

  <div>
    <label for="character-streetcred">Street Cred</label>
    <input type="number" class="form-control" id="character-streetcred" ng-model="character.personalData.streetCred">
  </div>

  <div>
    <label for="character-notoriety">Notoriety</label>
    <input type="number" class="form-control" id="character-notoriety" ng-model="character.personalData.notoriety">
  </div>

  <div>
    <label for="character-public-awareness">Public Awareness</label>
    <input type="number" class="form-control" id="character-public-awareness" ng-model="character.personalData.publicAwareness">
  </div>

</form>
