<form ng-init="vm.activate()">
  <div>
    <label for="skill-type">Skill Type</label>
    <select id="skill-type" ng-model="vm.type" ng-options="type for type in vm.types">
      <pre>{{type}}</pre>
    </select>
  </div>
  <div>
    <label for="skill">Skill</label>
    <select id="skill" ng-model="vm.skill" ng-options="skill as skill.name for skill in vm.allSkills | typefilter: vm.type">
      <pre>{{skill}}</pre>
    </select>
  </div>
  <div>
    <label for="specializations">Specialization</label>
    <select id="specializations" ng-model="vm.spec" ng-options="spec for spec in vm.skill.specializations">
      <pre>{{spec}}</pre>
    </select>
  </div>
  <div>
    <label for="skill-rank">Rank</label>
    <input type="number" class="number-input" id="skill-rank" ng-model="vm.rank" min="1" max="6">
    <div sr-incrementer="vm.rank"></div>
  </div>
  <button type="submit" class="btn btn-default" ng-click="vm.addSkill()">Add Skill</button>
</form>
