<div class='container'>
  <div class='col-xs-3'>
    <ul>
      <li>Body: {{vm.attributes.body}}</li>
      <li>Strength: {{vm.attributes.strength}}</li>
      <li>Agility: {{vm.attributes.agility}}</li>
      <li>Reaction: {{vm.attributes.reaction}}</li>
    </ul>
  </div>
  <div class='col-xs-3'>
    <ul>
      <li>Charisma: {{vm.attributes.charisma}}</li>
      <li>Intuition: {{vm.attributes.intuition}}</li>
      <li>Logic: {{vm.attributes.logic}}</li>
      <li>Will: {{vm.attributes.will}}</li>
      <li>Initiative: {{vm.attributes.initiative}}</li>
    </ul>
  </div>
  <div class='col-xs-3'>
    <ul>
      <li>Magic: {{vm.attributes.magic}}</li>
      <li>Resonance: {{vm.attributes.resonance}}</li>
      <li>Edge: {{vm.attributes.edge}}</li>
      <li>Astral Initiative: {{vm.attributes.astral}}</li>
      <li>Matrix Initiative: {{vm.attributes.matrix}}</li>
    </ul>
  </div>
</div>
