<form>
  <div>
    <label for="body">Body</label>
    <input type="number" id="body" ng-model="vm.attributes.body"
        min="1" max="6">
  </div>

  <div>
    <label for="strength">Strength</label>
    <input type="number" id="strength" ng-model="vm.attributes.strength"
        min="1" max="6">
  </div>

  <div>
    <label for="agility">Agility</label>
    <input type="number" id="agility" ng-model="vm.attributes.agility"
        min="1" max="6">
  </div>

  <div>
    <label for="reaction">Reaction</label>
    <input type="number" id="reaction" ng-model="vm.attributes.reaction"
        min="1" max="6">
  </div>

  <div>
    <label for="charisma">Charisma</label>
    <input type="number" id="charisma" ng-model="vm.attributes.charisma"
        min="1" max="6">
  </div>

  <div>
    <label for="intuition">Intuition</label>
    <input type="number" id="intuition" ng-model="vm.attributes.intuition"
        min="1" max="6">
  </div>

  <div>
    <label for="logic">Logic</label>
    <input type="number" id="logic" ng-model="vm.attributes.logic"
        min="1" max="6">
  </div>

  <div>
    <label for="will">Will</label>
    <input type="number" id="will" ng-model="vm.attributes.will"
        min="1" max="6">
  </div>

  <div>
    <label for="magic">Magic</label>
    <input type="number" id="magic" ng-model="vm.attributes.magic"
        min="0" max="6">
  </div>

  <div>
    <label for="resonance">Resonance</label>
    <input type="number" id="resonance" ng-model="vm.attributes.resonance"
        min="0" max="6">
  </div>

  <div>
    <label for="edge">Edge</label>
    <input type="number" id="edge" ng-model="vm.attributes.edge"
        min="1" max="6">
  </div>

</form>
