<form>
  <div>
    <label for="body">Body</label>
    <input type="number" id="body" ng-model="vm.attributes.body" class="number-input">
    <div sr-incrementer="vm.attributes.body"></div>
  </div>

  <div>
    <label for="strength">Strength</label>
    <input type="number" id="strength" ng-model="vm.attributes.strength" class="number-input">
    <div sr-incrementer="vm.attributes.strength"></div>
  </div>

  <div>
    <label for="agility">Agility</label>
    <input type="number" id="agility" ng-model="vm.attributes.agility" class="number-input">
    <div sr-incrementer="vm.attributes.agility"></div>
  </div>

  <div>
    <label for="reaction">Reaction</label>
    <input type="number" id="reaction" ng-model="vm.attributes.reaction" class="number-input">
    <div sr-incrementer="vm.attributes.reaction"></div>
  </div>

  <div>
    <label for="charisma">Charisma</label>
    <input type="number" id="charisma" ng-model="vm.attributes.charisma" class="number-input">
    <div sr-incrementer="vm.attributes.charisma"></div>
  </div>

  <div>
    <label for="intuition">Intuition</label>
    <input type="number" id="intuition" ng-model="vm.attributes.intuition" class="number-input">
    <div sr-incrementer="vm.attributes.intuition"></div>
  </div>

  <div>
    <label for="logic">Logic</label>
    <input type="number" id="logic" ng-model="vm.attributes.logic" class="number-input">
    <div sr-incrementer="vm.attributes.logic"></div>
  </div>

  <div>
    <label for="will">Will</label>
    <input type="number" id="will" ng-model="vm.attributes.will" class="number-input">
    <div sr-incrementer="vm.attributes.will"></div>
  </div>

  <div>
    <label for="magic">Magic</label>
    <input type="number" id="magic" ng-model="vm.attributes.magic" class="number-input">
    <div sr-incrementer="vm.attributes.magic"></div>
  </div>

  <div>
    <label for="resonance">Resonance</label>
    <input type="number" id="resonance" ng-model="vm.attributes.resonance" class="number-input">
    <div sr-incrementer="vm.attributes.resonance"></div>
  </div>

  <div>
    <label for="edge">Edge</label>
    <input type="number" id="edge" ng-model="vm.attributes.edge" class="number-input">
    <div sr-incrementer="vm.attributes.edge"></div>
  </div>

  <div>
    <div>
      <span ng-class="{bred: vm.spent > vm.limits.total}">
        {{vm.spent}} out of {{vm.limits.total}} basic points spent
      </span>
    </div>
    <div>
      <span ng-class="{bred: vm.special > vm.limits.special}">
        {{vm.special}} out of {{vm.limits.special}} special points spent
      </span>
    </div>
  </div>
</form>
