<form>
  <div>
    <label for="body">Body</label>
    <input type="number" id="body" ng-model="vm.body"
        min="1" max="6">
  </div>

  <div>
    <label for="strength">Strength</label>
    <input type="number" id="strength" ng-model="vm.strength"
        min="1" max="6">
  </div>

  <div>
    <label for="agility">Agility</label>
    <input type="number" id="agility" ng-model="vm.agility"
        min="1" max="6">
  </div>

  <div>
    <label for="reaction">Reaction</label>
    <input type="number" id="reaction" ng-model="vm.reaction"
        min="1" max="6">
  </div>

  <div>
    <label for="charisma">Charisma</label>
    <input type="number" id="charisma" ng-model="vm.charisma"
        min="1" max="6">
  </div>

  <div>
    <label for="intuition">Intuition</label>
    <input type="number" id="intuition" ng-model="vm.intuition"
        min="1" max="6">
  </div>

  <div>
    <label for="logic">Logic</label>
    <input type="number" id="logic" ng-model="vm.logic"
        min="1" max="6">
  </div>

  <div>
    <label for="will">Will</label>
    <input type="number" id="will" ng-model="vm.will"
        min="1" max="6">
  </div>

  <div>
    <label for="magic">Magic</label>
    <input type="number" id="magic" ng-model="vm.magic"
        min="0" max="6">
  </div>

  <div>
    <label for="resonance">Resonance</label>
    <input type="number" id="resonance" ng-model="vm.resonance"
        min="0" max="6">
  </div>

  <div>
    <label for="edge">Edge</label>
    <input type="number" id="edge" ng-model="vm.edge"
        min="1" max="6">
  </div>

</form>
